.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.my-order-wrapper {
  display: inline-block;
  background-color: #222;
  padding: 20px;
  color: white;
  width: 35%;
}

.items-list {
  display: inline-block;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
